.timeline-item {
	width: 100%;
	padding-left: 2em;
	padding-bottom: 2em;
	position: relative;
	color: black;
	opacity: 0.8;
	border-left: 2px solid black;
}

.timeline-item::before {
	content: attr(date-is);
	position: absolute;
	left: -10rem;
	top: 0.5rem;
	display: block;
	font-weight: 700;
}

.timeline-item::after {
	width: 10px;
	height: 10px;
	display: block;
	top: 1em;
	position: absolute;
	left: -6px;
	border-radius: 10px;
	content: "";
	border: 2px solid black;
	background: white;
}

.timeline-item:last-child {
	border-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)) 1 100%;
}

@media only screen and (max-width: 1024px) {
	.timeline-item {
		width: 100%;
		padding-top: 3rem;
		padding-left: 1em;
		padding-bottom: 1em;
	}

	.timeline-item::before {
		content: attr(date-is);
		left: 1em;
		font-weight: 700;
	}
}
