.timeline-item {
	width: 100%;
	padding-left: 2em;
	padding-bottom: 2em;
	position: relative;
	color: black;
	opacity: 0.8;
	border-left: 1px solid black;
}

.timeline-item::before {
	content: attr(date-is);
	position: absolute;
	left: -10rem;
	top: 0.5rem;
	display: block;
	font-weight: 500;
}

.timeline-item::after {
	width: 10px;
	height: 10px;
	display: block;
	top: 1em;
	position: absolute;
	left: -6px;
	border-radius: 10px;
	content: "";
	border: 1px solid black;
	background: white;
}


@media only screen and (max-width: 1024px) {
	.timeline-item {
		width: 100%;
		padding-top: 3rem;
		padding-left: 1em;
		padding-bottom: 1em;
	}

	.timeline-item::before {
		content: attr(date-is);
		left: 1em;
		font-weight: 700;
	}
}
